In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect("finance_tracker.db")
df = pd.read_sql_query("SELECT * FROM transactions", conn)
conn.close()

# Print nicely formatted table
print(df.to_string(index=False))

                                     id        date   amount  \
0  37c6ff29-3c87-4b6c-b5b4-e24927866df7  2025-03-22  1000.00
1  a136b527-18af-4b6c-a50c-97a20f3b58d3  2025-03-22   272.12
2  01754243-a363-4dff-bf5e-ddf14bd28ca9  2025-03-22     5.99
3  1dde8d43-a372-4db5-a2af-78be6e08d7eb  2025-03-22     5.99
4  a93b6753-31ee-45e0-a0df-6bd40dc7badf  2025-03-22     5.99
5  77633893-ff19-438d-93c0-107ab867984b  2025-03-22    15.25

                  description transaction_type  \
0  Account balance adjustment       adjustment
1   Transfer between accounts         transfer
2                  Bolt 30min         spending
3                   Bolt ride         spending
4                   Bolt ride         spending
5                 Migros food         spending

                        from_account_id                         to_account_id  \
0  fe5c4ece-5b44-4fcb-9224-c4fced4e370a                                  None
1  e8bbf2d7-31d3-490e-b10c-c486bcd428fa  fd19496c-9b77-4a01-b716-94c4467a9fdb
2  fd19496c-9b77-4a01-b716-94c4467a9fdb                                  None
3  fd19496c-9b77-4a01-b716-94c4467a9fdb                                  None
4  fd19496c-9b77-4a01-b716-94c4467a9fdb                                  None
5  fd19496c-9b77-4a01-b716-94c4467a9fdb                                  None

      status   category
0  completed       None
1  completed       None
2  completed  transport
3  completed  transport
4  completed  transport
5  completed       food